{
  "server/**/*.{ts,tsx}": [
    "eslint --fix"
  ],
  "app/**/*.{ts,tsx}": [
    "eslint --fix"
  ],
  "workers/**/*.ts": [
    "eslint --fix"
  ],
  "packages/**/*.{ts,tsx}": [
    "eslint --fix"
  ]
}
