{
  "server/**/*.{ts,tsx}": [
    "eslint --fix --cache"
  ],
  "app/**/*.{ts,tsx}": [
    "eslint --fix --cache"
  ],
  "workers/**/*.ts": [
    "eslint --fix --cache"
  ],
  "packages/**/*.{ts,tsx}": [
    "eslint --fix --cache"
  ]
}
